streamlit 
pandas  
ccxt  
matplotlib  
seaborn 
numpy 
https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp36-cp36m-linux_x86_64.whl
cryptorandom
scipy
sympy
pandas-ta == 0.1.39b
scikit-learn
